# Core functionality - changes here should be rare!
/src/app.py                   @mouzong
/src/backend/database.py      @mouzong
/src/backend/routers/auth.py  @mouzong

# The frontend will need refactored soon to be more object oriented.
/src/static/   @mouzong
